<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find twizy_sensor_kit_description)/urdf/VLP-16.urdf.xacro"/>
    <xacro:include filename="$(find twizy_sensor_kit_description)/urdf/cameras.urdf.xacro"/>
    <xacro:include filename="$(find twizy_vehicle_description)/urdf/bases/sd_twizy_body.urdf.xacro"/>
    <xacro:include filename="$(find vehicle_model)/urdf/wheels/sd_twizy_suspension.urdf.xacro" /> 
  
    <xacro:arg name="config_dir" default="$(find twizy_sensor_kit_description)/config"/>
    <xacro:property name="calibration" value="${xacro.load_yaml('$(arg config_dir)/sensor_kit_calibration.yaml')}"/>

    <!-- chassis from sd_twizy_base -->
    <xacro:sd_twizy_base name="sd_twizy"/>

      <!-- Camera -->
    <xacro:blackfly_camera frlr_prefix="front" lrc_prefix="left" parent="chassis"
        origin="${calibration['chassis']['front_left_camera_link']['x']} ${calibration['chassis']['front_left_camera_link']['y']} ${calibration['chassis']['front_left_camera_link']['z']} ${calibration['chassis']['front_left_camera_link']['roll']} ${calibration['chassis']['front_left_camera_link']['pitch']} ${calibration['chassis']['front_left_camera_link']['yaw']}"/>
  
    <xacro:blackfly_camera frlr_prefix="front" lrc_prefix="right" parent="chassis"
        origin="${calibration['chassis']['front_right_camera_link']['x']} ${calibration['chassis']['front_right_camera_link']['y']} ${calibration['chassis']['front_right_camera_link']['z']} ${calibration['chassis']['front_right_camera_link']['roll']} ${calibration['chassis']['front_right_camera_link']['pitch']} ${calibration['chassis']['front_right_camera_link']['yaw']}"/>

    <xacro:blackfly_camera frlr_prefix="front" lrc_prefix="center" parent="chassis"
        origin="${calibration['chassis']['front_center_camera_link']['x']} ${calibration['chassis']['front_center_camera_link']['y']} ${calibration['chassis']['front_center_camera_link']['z']} ${calibration['chassis']['front_center_camera_link']['roll']} ${calibration['chassis']['front_center_camera_link']['pitch']} ${calibration['chassis']['front_center_camera_link']['yaw']}"/>

    <xacro:blackfly_camera frlr_prefix="rear" lrc_prefix="center" parent="chassis"
        origin="${calibration['chassis']['rear_center_camera_link']['x']} ${calibration['chassis']['rear_center_camera_link']['y']} ${calibration['chassis']['rear_center_camera_link']['z']} ${calibration['chassis']['rear_center_camera_link']['roll']} ${calibration['chassis']['rear_center_camera_link']['pitch']} ${calibration['chassis']['rear_center_camera_link']['yaw']}"/>

    <xacro:blackfly_camera frlr_prefix="right" lrc_prefix="forward" parent="chassis"
        origin="${calibration['chassis']['right_forward_camera_link']['x']} ${calibration['chassis']['right_forward_camera_link']['y']} ${calibration['chassis']['right_forward_camera_link']['z']} ${calibration['chassis']['right_forward_camera_link']['roll']} ${calibration['chassis']['right_forward_camera_link']['pitch']} ${calibration['chassis']['right_forward_camera_link']['yaw']}"/>

    <xacro:blackfly_camera frlr_prefix="right" lrc_prefix="rearward" parent="chassis"
        origin="${calibration['chassis']['right_rearward_camera_link']['x']} ${calibration['chassis']['right_rearward_camera_link']['y']} ${calibration['chassis']['right_rearward_camera_link']['z']} ${calibration['chassis']['right_rearward_camera_link']['roll']} ${calibration['chassis']['right_rearward_camera_link']['pitch']} ${calibration['chassis']['right_rearward_camera_link']['yaw']}"/>

    <xacro:blackfly_camera frlr_prefix="left" lrc_prefix="forward" parent="chassis"
        origin="${calibration['chassis']['left_forward_camera_link']['x']} ${calibration['chassis']['left_forward_camera_link']['y']} ${calibration['chassis']['left_forward_camera_link']['z']} ${calibration['chassis']['left_forward_camera_link']['roll']} ${calibration['chassis']['left_forward_camera_link']['pitch']} ${calibration['chassis']['left_forward_camera_link']['yaw']}"/>

    <xacro:blackfly_camera frlr_prefix="left" lrc_prefix="rearward" parent="chassis"
        origin="${calibration['chassis']['left_rearward_camera_link']['x']} ${calibration['chassis']['left_rearward_camera_link']['y']} ${calibration['chassis']['left_rearward_camera_link']['z']} ${calibration['chassis']['left_rearward_camera_link']['roll']} ${calibration['chassis']['left_rearward_camera_link']['pitch']} ${calibration['chassis']['left_rearward_camera_link']['yaw']}"/>

    <!-- LiDAR -->
    <xacro:VLP-16 parent="chassis" name="velodyne_right" topic="/points_raw" hz="10" samples="220">
        <origin
            xyz="${calibration['chassis']['velodyne_top_base_link']['x']} ${calibration['chassis']['velodyne_top_base_link']['y']} ${calibration['chassis']['velodyne_top_base_link']['z']}"
            rpy="${calibration['chassis']['velodyne_top_base_link']['roll']} ${calibration['chassis']['velodyne_top_base_link']['pitch']} ${calibration['chassis']['velodyne_top_base_link']['yaw']}"
        />
    </xacro:VLP-16>

  
</robot>
